#map {
    min-height: 400px;
}

@media (max-width: 640px) {
    #map {
        min-height: 300px;
    }
}

#filters {
    max-height: 400px;
    overflow-y: auto;
}

.landmark-filter {
    margin-right: 5px;
}

.landmark-filter + span {
    font-size: 14px;
}
